// Fonts
$mainFont: 'Source Sans Pro', sans-serif;
$baseFontSize: 10;

// Mq
$phablet: 414px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1440px;
$large: 1978px;

// Colors
$colors : (
    black: #000000,
    white: #ffffff,
    yellow: #fee94e
);