html {
    font-size: 10px;
}
body {
    font-family: $mainFont;
    font-weight: 500;
    font-size: rem(16);
    color: map-get($colors,black);
    background:  map-get($colors,yellow);
    overflow: hidden;
    height: 100%;
    width: 100%;
}