.m-header {
    padding: 10vh 0 0 9vw;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    &__title {
        font-weight: 600; 
        font-size: rem(16);
        line-height: 1.25;
        @include breakpoint($phablet) {
            font-size: rem(18)
        }
        @include breakpoint($tablet) {
            font-size: rem(20)
        }
        @include breakpoint($desktop) {
            font-size: rem(22)
        }
        // @include breakpoint($wide) {
        //     font-size: rem(35)
        // }
        @include breakpoint($large) {
            font-size: rem(50);
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        text-decoration: underline;
    }
}   