.m-list-wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.m-list-cta {
    position: absolute;
    left: 50%;
    // bottom: 15vh;
    top: 50%;
    text-transform: uppercase;
    background:map-get($colors,black);
    color: map-get($colors,white);
    padding: rem(8) rem(10);
    transform: translate(-50%,100px) ;
    z-index: 3;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    font-size: rem(16);
    @include breakpoint($phablet) {
        font-size: rem(18)
    }
    @include breakpoint($tablet) {
        font-size: rem(20);
        padding: rem(10) rem(12);
        // bottom: 20vh;
    }
    @include breakpoint($desktop) {
        // bottom: 32vh;
    }
    &:active {
        transition: transform .1s;
        transform: translateX(-50%) translateY(100px) scale(.95);
    }
}
.m-list {
    text-align: center;
    font-size: rem(19);
    height: 100%;
    @include breakpoint($phablet) {
        font-size: rem(22)
    }
    @include breakpoint($tablet) {
        font-size: rem(26)
    }
    @include breakpoint($desktop) {
        font-size: rem(31)
    }
    &__item {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
        padding: 0 9vw;
        z-index: 1;
        display: none;
        a {
            text-decoration: none;
            color: map-get($colors,black);
            font-weight: 700;
            display: block;
            overflow: hidden;
            // > div {
            //     position: relative;
            //     overflow: hidden;
            //     &:after {
            //         content: '';
            //         position: absolute;
            //         display: block;
            //         left: 0;
            //         right: 0;
            //         height: 100%;
            //         top: 0;
            //         transition: transform .3s;
            //         background:map-get($colors,yellow);
            //     }
            // }
            &:hover {
                text-decoration: line-through;
            }
            &:visited {
                text-decoration: line-through;
            }
            br {
                display: none;
                @include breakpoint($tablet) {
                    display: inline;
                }
            }
        }

        &.show {
            z-index: 2;
            display: block;
        }

        // &.show a > div:after {
        //     transform: translateY(100%);
        // }

        // display: none;
        // &:nth-child(8) {
        //     display: block;
        // }
    }
}