.m-list-wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.m-list-cta {
    position: absolute;
    left: 50%;
    top: 50%;
    text-transform: uppercase;
    background:map-get($colors,black);
    color: map-get($colors,white);
    padding: rem(8) rem(10);
    transform: translate(-50%,85px);
    z-index: 3;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    font-size: rem(16);
    font-weight: 700;
    @include breakpoint($phablet) {
        font-size: rem(18)
    }
    @include breakpoint($tablet) {
        font-size: rem(20);
        padding: rem(10) rem(20);
        transform: translate(-50%,100px);
    }
    // @include breakpoint($wide) {
    //     font-size: rem(35);
    //     padding: rem(15) rem(18);
    //     transform: translate(-50%,150px);
    // }
    @include breakpoint($large) {
        font-size: rem(48);
        padding: rem(25) rem(50);
        transform: translate(-50%,250px);
    }
    &:active {
        transition: transform .1s;
        transform: translateX(-50%) translateY(85px) scale(.95);
        @include breakpoint($tablet) {
            transform: translateX(-50%) translateY(100px) scale(.95);
        }
        // @include breakpoint($wide) {
        //     transform: translateX(-50%) translateY(150px) scale(.95);
        // }
        @include breakpoint($large) {
            transform: translateX(-50%) translateY(250px) scale(.95);
        }
    }
}
.m-list {
    text-align: center;
    font-size: rem(19);
    height: 100%;
    @include breakpoint($phablet) {
        font-size: rem(22)
    }
    @include breakpoint($tablet) {
        font-size: rem(26)
    }
    @include breakpoint($desktop) {
        font-size: rem(31)
    }
    // @include breakpoint($wide) {
    //     font-size: rem(45);
    // }
    @include breakpoint($large) {
        font-size: rem(72);
    }
    &__item {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
        padding: 0 9vw;
        z-index: 1;
        display: none;
        a {
            text-decoration: line-through;
            color: map-get($colors,black);
            font-weight: 700;
            vertical-align: baseline;
            position: relative;
            @include breakpoint($tablet) {
                display: inline-block;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                display: none;
                transform: translateY(50%);
                background: #000;
                left: 1%;
                right: 1%;
                height: 3px;
                width: 100%;
            }
            &:hover,&:active {
                &:after {
                    @include breakpoint($desktop) {
                        display: block;
                    }
                }
            }
            
        }
        br {
            display: none;
            @include breakpoint($desktop + 1) {
                display: inline;
            }
        }

        &.show {
            z-index: 2;
            display: block;
        }
    }
}

.m-list__item a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    left: 0;
    top: 20px;
    display: none!important;
}

.m-list__item a:after { content: none!important;}
.m-list__item a:hover:after, .m-list__item a:active:after {
    display: none!important;
}
